#  Python Tutorial

First,you need to know where you are

In [ ]:
pwd

In [ ]:
cd

# Shortcuts

You need to work faster

- (press Esc to enter Command Mode).
- Enter: Enter Edit Mode (from Command Mode).
- Shift + Enter: Run the current cell and move to the next one.
- Ctrl + Enter: Run the current cell and stay at the current cell.
- A: Insert a new cell above the current cell.
- B: Insert a new cell below the current cell.
- D, D (press D twice): Delete the current cell.
- Y: Change the cell type to Code.
- M: Change the cell type to Markdown.
- C: Copy the current cell.
- V: Paste a copied cell below the current cell.
- Shift + V: Paste a copied cell above the current cell.
- X: Cut the current cell.
- Z: Undo cell deletion.
- Shift + M: Merge selected cells.
- Ctrl + Shift + select cell: to select them all 
- Shift + Tab: Show documentation (press once for basic information, twice for more details).
- Ctrl + /: Comment or uncomment the selected lines.
- Ctrl + ]: Indent the selected lines.
- Ctrl + [ : Dedent the selected lines.
- Tab: Code completion or indent.

You can access a full list of shortcuts by pressing H in Command Mode,

# Operaters

In [ ]:
5+10

In [ ]:
x=5*10
x

In [ ]:
x=3+4
x

In [ ]:
#if you want to check the numver is even or odd 
# 0 = even
# 1 = odd 
x = 10%2
print(x)

In [ ]:
y = 11%2
y

In [ ]:
z=10
z= z**2
z

# Task1

The result will be even or odd (5 times 8)divide by (5 plus 10)?

# print

In [ ]:
print('Mohamed Elsaeed')

name = input('please enter your name')
age = int(input('please enter your age'))
#print 
print(f'your name is {name}, your age is {age}')

In [ ]:
name = input('please enter your name')
birth = int(input('please enter your birth'))
age = 2024-birth
#print 
print(f'your name is {name}, your age is {age}')

In [ ]:
#we used int cause the output of input is string 
#in birth we cant substract number from string 
#let check name type
type(name)
#str

# Task 2

can you ask user for his name and his phone and print it ?

# Index & slicing

In [ ]:
name = 'Hello Alex'
name[0]

In [ ]:
#get string or list length
len(name)

In [ ]:
hi = name[0:5]
hi

In [ ]:
Alex = name[6:]
Alex

In [ ]:
index[]
even_st = name[0:1000:2]
even_st

In [ ]:
#reverse indexing
reversed_name = name[::-1]
reversed_name

# Task 3

Can you print Hello Saeed and extract print out (ee)

In [ ]:
my_name='Hello Saeed'

# Difference between (lists,dict,tuples,sets)

-Lists are ordered and mutable(i can edit them).
-Dictionaries are unordered and mutable, storing key-value pairs.
-Sets are unordered and mutable, containing unique elements.
-Tuples are ordered and immutable(i cant edit them).

# Lists

In [ ]:
my_list = [1,2,3,4,5,6]
my_list.append(7)
my_list

In [ ]:
my_list.insert(3,'Ahmed')
my_list

In [ ]:
my_list.remove('Ahmed')
my_list

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list1.extend(list2)

print(list1)  # Output: [1, 2, 3, 4, 5, 6]

In [ ]:
list3 = list1+list2
list3

In [ ]:
x= 'mohamed' +' '+'elsaeed'
x

In [ ]:
my_list.pop(1)
my_list[0]=1
my_list

# Task 4

Now replace hello in list3 by goodbye then delete 2 from list

In [ ]:
list3 = [1,2,[3,4,'hello']]

# Dictionaries

In [ ]:
#imagine i have products with these prices how to get price with key ?
prices = {'apple':100,'banna':150,'choclate':200,'list':[100,150,200]}
prices['choclate']

In [ ]:
prices['list'][0]

# Tuples

In [ ]:
# Tuple example
my_tuple = (1, 2, 3, 4, 5)

# Attempting to modify a tuple (invalid - will raise an error)
# my_tuple[0] = 10  # This line will raise a TypeError

# Accessing elements in both list and tuple
print(my_tuple[0]) # Output: 1

# sets

In [ ]:
#sets gives only unique values (no dublicates)
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

sorted_set = sorted(my_set, reverse=True)
print(sorted_set)

# Task 5

Grab hello

In [ ]:
d = {'k1':{'k2':'hello'}}

# If

In [ ]:
name = input('please enter your name: ')
if name == 'saeed':
    print('your name is first name in the list ')
elif name =='Ahmed':
    print('Your name in second name in the list ')
else:
    print('your are not in the list ')

# For

we can create list using for

In [ ]:
#this is list for numbrs from 0 to 51 divisable by 3 
[x for x in range(0,51,3)]

In [ ]:
my_list = [x for x in 'hello']
my_list

# lets try if and for together

**Write a program that prints the integers from 1 to 100. But for multiples of three print "three" instead of the number, and for the multiples of five print "five". For numbers which are multiples of both three and five print "threefive".**

In [ ]:
for x in range(1,101):
    if x % 3 == 0 and x % 5 ==0:
        print("threefive")
    elif x % 3 ==0 :
        print('three')
    elif x % 5 ==0 :
        print('five')
    else:
        print(x)

## Think why we write (if x % 3 == 0 and x % 5 ==0:)  in first not in the last ????!!

# Task 6

make a list of random numbers and then spilt it to even list and to odd list 

-Hint: you need empty lists at first

# while

- Lets make a code ask a user for id & pw and if its wrong it will keep asking 
- while is like for but with condition

In [ ]:
correct_id = "user123"
correct_password = "password123"

# Ask the user for ID and password
while True:
    user_id = input("Enter your ID: ")
    password = input("Enter your password: ")

    # Check if the entered ID and password are correct
    if user_id == correct_id and password == correct_password:
        print("Login successful!")
        break  # Exit the loop if login is successful
    else:
        print("Invalid ID or password. Please try again.")

In [ ]:
x=0
while x<5:
    print(f'the current value now is {x}')
    x=x+1
else:
    print('the current value is more than 5')

# Functions

we make function to solve a certin problem lets see

In [ ]:
# function without parameters

def greet():
    return "Hello, world!"

# Calling the function
print(greet())

In [ ]:
# function with parameters
# fuction to power number with other
# x is the number y is the power
def power(x, y):
    return x ** y

power(8,3)

In [ ]:
#function with default output .
# if i didnt enter name it will print Guest
def greet(name="Guest"):
    return f"Hello, {name}!"

# Calling the function without providing an argument
print(greet())  # Output: Hello, Guest!

# Calling the function with an argument
print(greet("Alice"))  # Output: Hello, Alice!

# you need more practice this is just a start ,Thank you

## Eng:Mohamed Elsaeed